
.question {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  float: left;
  font-size: 16px;
  margin: 20px;
  width: 120px;
}

.question input {
  width: 30px;
}

.question .good {
  background: #5dbb5d;
}

.question .bad {
  background: #e35651;
}

.timeleft {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px dotted #999;
  color: #333;
}

