.cards {
  margin-top: 8px;
}

.card {
  float: left;
  width: 180px;
  height: 112px;
  position: relative;
  box-shadow: 1px 1px 1px #777;
  border-radius: 5px;
  margin: 5px 5px;
  transition: all 500ms ease-in-out;
  background: url(../images/cardboard.jpg) no-repeat;
}

.card .no {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #777;
  text-decoration: none;
}

.card .keyword {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
  width: 95px;
}

.card .kanji {
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 42px;
}

#count {
  margin-left: 8px;
  margin-bottom: 50px;
  font-size: 80%;
  color: #777;
}

/*-------------------------------------------------*/

#glass {
  border: 1px solid #bbb;
  border-radius: 5px;
  line-height: 23px;
  padding-left: 23px;
  background: url(../images/glass.png) no-repeat;
  background-size: 24px 24px;
  width: 200px;
  height: 24px;
  margin-left: 5px;
}

#glass input {
  border: 0;
  outline: none;
  width: 190px
}
