
.cards {
  margin: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  /*
   *  50px: margin between .card
   */
  width: calc((100% - 50px) / 6);
  height: calc((100vw - 50px) / 6 / 1.618);
  position: relative;
  box-shadow: 1px 1px 1px #777;
  border-radius: 5px;
  background: url(../images/cardboard.jpg) no-repeat;
  background-size: cover;
}

.card .no {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #777;
  text-decoration: none;
}

.card .keyword {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
  width: 95px;
}

.card .kanji {
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 42px;
}

.muted {
  margin-left: 8px;
  margin-bottom: 50px;
  font-size: 80%;
  color: #777;
}

/*-------------------------------------------------*/

#glass {
  border: 1px solid #bbb;
  border-radius: 5px;
  line-height: 23px;
  padding-left: 23px;
  background: url(../images/glass.png) no-repeat;
  background-size: 24px 24px;
  width: 200px;
  height: 24px;
  margin-left: 5px;
}

#glass input {
  border: 0;
  outline: none;
  width: 190px;
}
