@import "tailwindcss";

.font-japanese {
  font-family:
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.awesomplete {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
