html,
body {
  color: #777;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
}
#content {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}
#content a.logo {
  text-indent: -5000px;
  display: block;
  width: 60px;
  height: 60px;
  background: url(https://secure.gravatar.com/avatar/ecfd1bdc5d3aab1e40f25658817712ba) no-repeat right;
  background-size: 100% 100%;
  border-radius: 10px;
}
#content form {
  position: absolute;
  top: 17px;
  left: 70px;
}
#content #glass {
  border: 1px solid #bbb;
  border-radius: 5px;
  line-height: 23px;
  padding-left: 23px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAQAAAC0jZKKAAABOElEQVRIx2NgGAWjYBSMRKDGRG0DJdWa1c6pfVX7r/ZabadaqhobNQxlVKsCG4kM76hZU27sPDRDIfCHWhhlBpdCDfqrtlotRS1ErVztIlTkm5oO+cZKAbWDDHmhZoGIQKBl/8CiO8k3uBpswB81SzTxfqir9ck1+ChY+xoMcX6oT8rJNfglWHs6Fpn9YJmZ5Br8E6w9CovMerDMCnINfgDWXo1F5gpYZhq5Bm8Ca7+qxowmbgiNvHhyDY6GGtCIIsqldgaakgXINZhF7TrU6GlqolAxU6ix/9XaKcl5hvBy4pfacbUdajeRsvU6igojNQ+1z1hLCyoYrQZNXDD4Va1VbSlVjAYarqxWoDZZbbnaJGCE8gP5zFQzGsMqhNErGBhoYfRPtUDq14HMavNpYOwoGAWjYIQBAGitv5yzkZIwAAAAAElFTkSuQmCC") no-repeat;
  background-size: 24px 24px;
  width: 200px;
  height: 24px;
}
#content input {
  border: 0;
  width: 95%;
  outline: none;
}
