
body {
  color: #777;
}

.question {
  font-family: Courier New, Courier, monospace;
  width: 50px;
  float: left;
  margin-right: 50px;
}

.question tr {
  text-align: right;
}

.question td, .question th {
  padding: 0 5px;
}

.question th {
  font-weight: normal;
  border-top: 2px solid #bbb;
}

.unanswered:hover {
  background: yellow;
}

