
html, body {
  margin: 0;
  padding: 0;
}

body {
  margin-left: 50px;
}

/*-------------------------------------------------*/

#container {
  margin: auto;
  margin-top: 50px;
  /*border: 1px dashed #777;*/
}

#tooltip {
  border: 1px solid #777;
  display: none;
  position: absolute;
}

/*-------------------------------------------------*/

.axis {
  shape-rendering: crispEdges;
}

.axis text {
  fill: #777;
}

.axis line, .axis path {
  stroke: #bbb;
}

/*-------------------------------------------------*/

svg {
  display: block;
  margin: auto;
  /*border: 1px dashed #777;*/
}

circle {
  opacity: 0.5;
}

circle:hover {
  /*fill: red;*/
  opacity: 1;
}

/*-------------------------------------------------*/

.controls {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  /*margin-left: 50px;*/
  border-top: 1px solid #bbb;
  color: #777;
}

.controls h2 {
  margin-bottom: 10px;
  margin-top: 5px;
}

.controls form {
  margin-left: -3px;
}

