
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: #777;
  margin-left: 50px;
}

.container {
  margin-top: 50px;
  display: flex;
}

/*-------------------------------------------------*/

#tooltip {
  border: 1px solid #777;
  display: none;
  position: absolute;
}

/*-------------------------------------------------*/

.axis {
  shape-rendering: crispEdges;
}

.axis text {
  fill: #777;
}

.axis line, .axis path {
  stroke: #bbb;
}

/*-------------------------------------------------*/

circle {
  opacity: 0.5;
}

circle:hover {
  opacity: 1;
}

/*-------------------------------------------------*/

.controls {
  margin-left: 25px;
  padding-left: 25px;
  font-size: 13px;
  border-left: 1px dashed #bbb;
}

.controls h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.controls form {
  margin-left: -3px;
}

